<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <div id="contests">
      <%= render @contests%>
    </div>
  </div>
</div>

  <%= render '/contests/map_js', :contest => @contests.first %>
