
@font-face {
    font-family: 'belleroselight';
    src: url('/fonts/bellerose-webfont.woff2') format('woff2'),
         url('/fonts/bellerose-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Enigmatic Unicode Regular";src:url("/fonts/EnigmaU_2.eot?") format("eot"),url("/fonts/EnigmaU_2.woff") format("woff"),url("/fonts/EnigmaU_2.ttf") format("truetype"),url("/fonts/EnigmaU_2.svg#EnigmaticUnicode") format("svg");font-weight:normal;font-style:normal;}
